@import '~node_modules/modern-normalize/modern-normalize.css';
// html {
//     scroll-behavior: smooth;
// }

body {
  font-family: $primary-font-family;
  font-size: $primary-font-size;
  color: $primary-text-color;
  background-color: $add-textcolor;
  color: $white;
}
// * {
//   outline: 1px solid red;
// }

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
