.container {
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  @media screen and (min-width: 320px) {
    min-width: 320px;
  }
  @media screen and (min-width: 768px) {
    min-width: 768px;
  }
  @media screen and (min-width: 1440px) {
    padding: 0 50px;
    width: 1424px;
  }
}
