@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/mixins';

@import './base/common';
@import './base/container';

@import './components/logo';
@import './components/soc-links';
@import './components/section-title';

@import './layout/header';
@import './layout/hero';
@import './layout/about';
@import './layout/gallery';
