<section class="about">
  <div class="container">
    <h2>Новий спосіб життя</h2>
    <p>
      Ставши частиною нашої команди, ви можете змінити звичний ритм життя та
      зробити кожен свій день особливим, а формат наших налаштувань дозволить
      розкрити потенціал вашого тіла на 100%.
    </p>
    <!-- <img src="" alt="перша" />
    <img src="" alt="друга" /> -->
    <button>Отримати консультацію</button>
    <ul class="list">
      <li>Повністю укомплектована зала</li>
      <li>Професійне обладнання</li>
      <li>Зручне розташування у центрі міста</li>
      <li>Доступная стоимость занятий</li>
    </ul>
  </div>
</section>
