<section class="contacts">
  <div class="container">
    <h2>Контакти</h2>
    <div>
      <svg class="one-time__icon" width="34" height="34">
        <use xlink:href=".//images/sprite.svg#icon-location-cont"></use>
      </svg>
      <p>м. Запоріжжя, пр. Соборний 92</p>
    </div>
    <div>
      <svg class="one-time__icon" width="34" height="34">
        <use xlink:href=".//images/sprite.svg#icon-clock"></use>
      </svg>
      <p>Щодня з 8:00 до 23:00</p>
    </div>
    <div>
      <svg class="one-time__icon" width="34" height="34">
        <use xlink:href=".//images/sprite.svg#icon-phone"></use>
      </svg>
      <a href="tel:+380962222222">+38 096 222 22 22</a>
    </div>

    <strong>Підписуйтесь на наші соціальні мережі</strong>
    <ul class="list soc-links">
      <li class="soc-links__item">
        <a class="soc-links__link link" href="">
          <svg class="soc-links__icon" width="22" height="22">
            <use href=".//images/sprite.svg#icon-instagram"></use></svg
        ></a>
      </li>
      <li class="soc-links__item">
        <a class="soc-links__link link" href=""
          ><svg class="soc-links__icon" width="22" height="22">
            <use href=".//images/sprite.svg#icon-facebook"></use></svg
        ></a>
      </li>
    </ul>
  </div>
</section>
