<section class="contacts">
  <div class="container">
    <h2 class="section-title">Контакти</h2>
    <ul class="contacts__list list">
      <li class="contacts__item">
        <svg class="one-time__icon" width="24" height="24">
          <use xlink:href=".//images/sprite.svg#icon-location-cont"></use>
        </svg>
        <p>м. Запоріжжя, пр. Соборний 92</p>
      </li>
      <li class="contacts__item">
        <svg class="one-time__icon" width="24" height="24">
          <use xlink:href=".//images/sprite.svg#icon-clock"></use>
        </svg>
        <p>Щодня з 8:00 до 23:00</p>
      </li>
      <li class="contacts__item">
        <svg class="one-time__icon" width="24" height="24">
          <use xlink:href=".//images/sprite.svg#icon-phone"></use>
        </svg>
        <a href="tel:+380962222222">+38 096 222 22 22</a>
      </li>
    </ul>
    <strong>Підписуйтесь на наші соціальні мережі</strong>
    <ul class="list soc-links">
      <li class="soc-links__item">
        <a class="soc-links__link link" href="">
          <svg class="soc-links__icon" width="22" height="22">
            <use href=".//images/sprite.svg#icon-instagram"></use></svg
        ></a>
      </li>
      <li class="soc-links__item">
        <a class="soc-links__link link" href=""
          ><svg class="soc-links__icon" width="22" height="22">
            <use href=".//images/sprite.svg#icon-facebook"></use></svg
        ></a>
      </li>
    </ul>
  </div>
</section>
