<section id="contacts" class="contacts">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1949.9241304743496!2d35.17027887504198!3d47.82088547315752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dc5e07d67f9d9d%3A0xf05c8a208002044c!2z0L_RgNC-0YHQvy4g0KHQvtCx0L7RgNC90YvQuSwgOTIsINCX0LDQv9C-0YDQvtC20YzQtSwg0JfQsNC_0L7RgNC-0LbRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNjkwMDA!5e1!3m2!1sru!2sua!4v1769148540847!5m2!1sru!2sua"
    class="contacts__map"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
  <div class="container">
    <div class="contacts__box">
      <h2 class="section-title">Контакти</h2>
      <ul class="contacts__list list">
        <li class="contacts__item">
          <svg class="one-time__icon" width="24" height="24">
            <use xlink:href=".//images/sprite.svg#icon-location-cont"></use>
          </svg>
          <a
            class="contacts__text link"
            href="https://maps.app.goo.gl/oR2SGcvU=k8sEFSV99"
            >м. Запоріжжя, пр. Соборний 92</a
          >
        </li>
        <li class="contacts__item">
          <svg class="one-time__icon" width="24" height="24">
            <use xlink:href=".//images/sprite.svg#icon-clock"></use>
          </svg>
          <p class="contacts__text">Щодня з 8:00 до 23:00</p>
        </li>
        <li class="contacts__item">
          <svg class="one-time__icon" width="24" height="24">
            <use xlink:href=".//images/sprite.svg#icon-phone"></use>
          </svg>
          <a class="contacts__text link" href="tel:+380962222222"
            >+38 096 222 22 22</a
          >
        </li>
      </ul>
      <p class="contacts__text-sing">Підписуйтесь на наші соц. мережі</p>
      <ul class="list soc-links">
        <li class="soc-links__item">
          <a class="soc-links__link link" href="https://www.instagram.com/">
            <svg class="soc-links__icon--accent" width="22" height="22">
              <use href=".//images/sprite.svg#icon-instagram"></use></svg
          ></a>
        </li>
        <li class="soc-links__item">
          <a class="soc-links__link link" href="https://www.facebook.com/"
            ><svg class="soc-links__icon--accent" width="22" height="22">
              <use href=".//images/sprite.svg#icon-facebook"></use></svg
          ></a>
        </li>
      </ul>
    </div>
  </div>
</section>
