<footer class="footer">
  <div class="container">
    <a href="./index.html" lang="en" class="logo logo--left link"
      ><img src="./images/favicon.png" alt="logo" /> Kozak</a
    >
    <ul class="list navigation__wrapper">
      <li class="navigation__item">
        <a href="#about" class="navigation__link link">Про нас</a>
      </li>
      <li class="navigation__item">
        <a href="#gallery" class="navigation__link link">Галерея</a>
      </li>
      <li class="navigation__item">
        <a href="#subscriptions" class="navigation__link link">Абонементи</a>
      </li>
      <li class="navigation__item">
        <a href="#trainers" class="navigation__link link">Тренери</a>
      </li>
      <li>
        <a href="#contacts" class="navigation__link link">Контакти</a>
      </li>
      <li class="navigation__item">
        <a href="tel:+380962222222" class="link navigation__link">
          +38 096 222 22 22</a
        >
      </li>
    </ul>
    <div>
      <p class="footer__text">&copy; Всі права захищені</p>
      <p class="footer__text">Запоріжжя, 2020-2026</p>
    </div>
  </div>
</footer>
