<section class="gallery">
  <div class="container">
    <h2 class="section-title">Галерея</h2>
    <div class="embla">
      <button class="embla__btn embla__btn--prev">‹</button>
      <div class="embla__viewport">
        <ul class="embla__container list">
          <li class="embla__slide">
            <img src="./images/content/gallery_person1.jpg" alt="" />
          </li>
          <li class="embla__slide">
            <img src="./images/content/gallery_person2.jpg" alt="" />
          </li>
          <li class="embla__slide">
            <img src="./images/content/gallery_person3.jpg" alt="" />
          </li>
          <li class="embla__slide">
            <img src="./images/content/gallery_person4.jpg" alt="" />
          </li>
        </ul>
      </div>
      <button class="embla__btn embla__btn--next">›</button>
    </div>
    <div class="embla-progress">
      <div class="embla-progress__track">
        <div class="embla-progress__thumb"></div>
      </div>
    </div>
    <div class="embla">
      <button class="embla__btn embla__btn--prev-2">‹</button>
      <div class="embla__viewport--2">
        <ul class="embla__container list">
          <li class="embla__slide">
            <img src="./images/content/gallery_gym1.jpg" alt="" />
          </li>
          <li class="embla__slide">
            <img src="./images/content/gallery_gym2.jpg" alt="" />
          </li>
          <li class="embla__slide">
            <img src="./images/content/gallery_gym3.jpg" alt="" />
          </li>
        </ul>
      </div>
      <button class="embla__btn embla__btn--next-2">›</button>
    </div>
    <div class="embla-progress">
      <div class="embla-progress__track--2">
        <div class="embla-progress__thumb--2"></div>
      </div>
    </div>
  </div>
</section>
