<section class="hero-section">
  <div class="container">
    <h1 class="main__title">Спортивний клуб Козак</h1>
    <p class="">Краще нас тільки ЗСУ</p>
    <button>Отримати консультацію</button>
    <ul class="list mobile-soc-links">
        <li class="mobile-soc-links__item">
            <a class="mobile-soc-links__link link" href="">Instagram</a>
        </li>
        <li class="mobile-soc-links__item">
            <a class="mobile-soc-links__link link" href="">Facebook</a>
        </li>
    </ul>
  </div>
</section>
