<section class="one-time">
  <div class="container">
    <h3 class="section-title section-title--dark">Разові тренування</h3>
    <ul class="one-time__list list">
      <li class="one-time__card">
        <h4 class="one-time__subtitle">
          Самостійні тренування в тренажерній залі
        </h4>
        <div class="one-time__time-box">
          <svg class="one-time__icon" width="34" height="34">
            <use xlink:href=".//images/sprite.svg#icon-gym-time"></use>
          </svg>
          <p class="one-time__time">8:00 - 23:00</p>
        </div>
        <div>
          <p class="one-time__price">75 грн</p>
          <p class="one-time__one">1 тренування</p>
          <button class="one-time__btn" type="button">
            <span>Дізнатися</span>
          </button>
        </div>
      </li>
      <li class="one-time__card">
        <h4 class="one-time__subtitle">Персональний тренінг з інструктором</h4>
        <div class="one-time__time-box">
          <svg class="one-time__icon" width="34" height="34">
            <use xlink:href=".//images/sprite.svg#icon-gym-time"></use>
          </svg>
          <p class="one-time__time">8:00 - 23:00</p>
        </div>
        <div>
          <p class="one-time__price">200 грн</p>
          <p class="one-time__one">1 тренування</p>
          <button class="one-time__btn" type="button">
            <span>Дізнатися</span>
          </button>
        </div>
      </li>
      <li class="one-time__card">
        <h4 class="one-time__subtitle">
          Зала групових <br />
          програм
        </h4>
        <div class="one-time__time-box">
          <svg class="one-time__icon" width="34" height="34">
            <use xlink:href=".//images/sprite.svg#icon-gym-time"></use>
          </svg>
          <p class="one-time__time">графік занять уточнюйте у адміністратора</p>
        </div>
        <div>
          <p class="one-time__price">120 грн</p>
          <p class="one-time__one">1 тренування</p>
          <button class="one-time__btn" type="button">
            <span>Дізнатися</span>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
