<section class="subscriptions">
  <div class="container">
    <h2 class="section-title section-title--dark">Абонементи</h2>
    <div class="subscriptions__thead-line"></div>
    <div class="subscriptions__table-scroll js-scroll-area" tabindex="0">
      <table class="subscriptions__simple-table">
        <thead>
          <tr>
            <th class="subscriptions__subtitle subscriptions__subtitle--first">
              К-ть занять
            </th>
            <th class="subscriptions__subtitle">1 тренування</th>
            <th class="subscriptions__subtitle">4 тренувань</th>
            <th class="subscriptions__subtitle">8 тренувань</th>
            <th class="subscriptions__subtitle">12 тренувань</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="subscriptions__text-left">
              Персональний тренінг з інструктором
            </th>
            <td>200 грн</td>
            <td>700 грн (дійсний впродовж 3х тижнів)</td>
            <td>1400 грн (дійсний впродовж 6и тижнів)</td>
            <td>2000 грн (дійсний впродовж 10и тижнів)</td>
          </tr>
          <tr>
            <th class="subscriptions__text-left">
              Самостійні тренування в тренажерній залі
            </th>
            <td>75 грн</td>
            <td>-</td>
            <td>450 грн (дійсний впродовж 30 днів)</td>
            <td>800 грн (дійсний впродовж 30 днів)</td>
          </tr>
          <tr>
            <th class="subscriptions__text-left">Зала групових програм</th>
            <td>120 грн</td>
            <td>-</td>
            <td>700 грн (дійсний впродовж 30 днів)</td>
            <td>1100 грн (дійсний впродовж 45 днів)</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div
      class="subscriptions-scrollbar js-scrollbar"
      role="scrollbar"
      aria-orientation="horizontal"
      aria-valuemin="0"
      aria-valuemax="100"
      aria-valuenow="0"
    >
      <div class="subscriptions-scrollbar__track"></div>
      <div class="subscriptions-scrollbar__thumb"></div>
    </div>
    <h3>Абонемент за часом</h3>
    <div class="subscriptions__table-scroll">
      <table>
        <thead>
          <tr>
            <th>Вид карти</th>
            <th>12 місяців</th>
            <th>6 місяців</th>
            <th>3 місяця</th>
            <th>1 місяць</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              Індивідуальна, повна без обмежень у відвідуванні/ 8:00 - 23:00
            </th>
            <td>5700 грн (+200 хв солярія)</td>
            <td>3800 грн</td>
            <td>1900 грн</td>
            <td>700 грн</td>
          </tr>
          <tr>
            <th>Індивідуальна, денна/ 8:00 - 17:00</th>
            <td>-</td>
            <td>2100 грн</td>
            <td>1200 грн</td>
            <td>500 грн</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h3>Разові тренування</h3>
    <div class="about_one-time">
      <h4>Самостійні тренування в тренажерній залі</h4>
      <p>8:00 - 23:00</p>
      <p>75 грн</p>
      <p>1 тренування</p>
      <button type="button">Дізнатися</button>
    </div>
    <div class="about_one-time">
      <h4>Персональний тренінг з інструктором</h4>
      <p>8:00 - 23:00</p>
      <p>200 грн</p>
      <p>1 тренування</p>
      <button type="button">Дізнатися</button>
    </div>
    <div class="about_one-time">
      <h4>Зала групових програм</h4>
      <p>графік занять уточнюйте у адміністратора</p>
      <p>120 грн</p>
      <p>1 тренування</p>
      <button type="button">Дізнатися</button>
    </div>
  </div>
</section>
