<section class="trainers">
    <div class="container">
        <h2>Тренери</h2>
        слайдер з тренерами
        <ul class="list">
            <li>
                фото
                <b>Ілля Панченко</b>
            <p>Персоналтний тренер, інструктор тренажерної зали</p>
            <p>Досвід роботи - 4 роки</p>
            </li>
        <li>
            фото
            <b>Юлія Білоус</b>
            <p>Фітнес-тренер</p>
            <p>Досвід роботи - 2 роки</p>
        </li>
        <li>
            фото
            <b>Єкатерина Петренко</b>
            <p>Фітнес-тренер</p>
            <p>Досвід роботи - 4 роки</p>
        </li>
        </ul>
    </div>
</section>