.logo {
  color: $white;
  font-family: $primary-font-family;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 500ms $timing-fun;
  &:hover,
  &:focus {
    opacity: 0.7;
  }
  @media screen and (min-width: 768px) {
    font-size: 18px;
    > img {
      width: 30px;
    }
  }
  @media screen and (min-width: 1440px) {
    font-size: 24px;
    > img {
      width: 40px;
    }
  }
}

.logo--left {
  @media screen and (min-width: 768px) {
    align-items: flex-start;
    margin-bottom: 30px;
    > img {
      margin-left: 15px;
    }
  }
  @media screen and (min-width: 1440px) {
    margin-left: 100px;
  }
}
