.logo {
  color: $white;
  font-family: $primary-font-family;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    > img {
      width: 30px;
    }
  }
  @media screen and (min-width: 1440px) {
    font-size: 24px;
    > img {
      width: 40px;
    }
  }
}
