.section-title {
  font-family: $primary-font-family;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.36;
  color: $white;
  margin-bottom: 60px;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 50px;
  }
  @media screen and (min-width: 1440px) {
    text-align: left;
  }
}
