.contacts {
  padding-bottom: 50px;
  & .section-title {
    margin-bottom: 55px;
    margin-top: 50px;
    @media screen and (min-width: 768px) {
      margin-top: 0;
      text-align: left;
    }
    @media screen and (min-width: 1440px) {
      margin-bottom: 50px;
    }
  }
  @media screen and (min-width: 768px) {
    background-image: url('../images/bg/contacts_map_tab.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 50px;
  }
  @media screen and (min-width: 1440px) {
    background-image: url('../images/bg/contacts_map_desk.jpg');
    padding: 60px 0;
  }
}
.contacts__map {
  width: 100vw;
  height: 235px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.contacts__box {
  @media screen and (min-width: 768px) {
    width: 354px;
    height: auto;
    background-color: $add-textcolor;
    padding: 50px 25px;
  }
  @media screen and (min-width: 1440px) {
    width: 396px;
    margin-left: 120px;
    padding: 50px 35px;
  }
}
.contacts__list {
  @include flex(30px, column, flex-start);
  align-items: flex-start;
  margin-bottom: 30px;
  @media screen and (min-width: 1440px) {
    gap: 25px;
    margin-bottom: 40px;
  }
}
.contacts__item {
  @include flex(16px, row, flex-start);
}
.contacts__text,
.contacts__text-sing {
  font-size: 14px;
  color: $white;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.5;
  }
}
.contacts__item:not(:nth-child(2)) {
  .contacts__text {
    padding: 5px;
    transition: color 300ms $timing-fun;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}
.contacts__text-sing {
  font-weight: 500;
  margin-bottom: 20px;
  @media screen and (min-width: 1440px) {
    margin-bottom: 25px;
  }
}
