.gallery {
  padding-bottom: 83px;
  background: url('../images/decor/frame_gallery-min.png');
  background-position: left bottom -26px;
  background-size: 70px;
  background-repeat: no-repeat;
}

.embla {
  max-width: 100%;
}

.embla__viewport,
.embla__viewport--2 {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 auto;
  width: 200px;
  margin-right: 30px;
  overflow: hidden;
}
.embla__viewport--2 .embla__slide {
  width: 225px;
}

.embla__slide img {
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  margin: -2px;
  display: block;
  object-fit: cover;
}
.embla-progress {
  margin-top: 30px;
  &:nth-child(3) {
    margin-bottom: 48px;
  }
}

.embla-progress__track,
.embla-progress__track--2 {
  position: relative;
  width: 100%;
  height: 4px;
  background: $white;
}

.embla-progress__thumb,
.embla-progress__thumb--2 {
  position: absolute;
  top: -4px;
  left: 0;
  width: 102px;
  height: 10px;
  background: $accent-color;
  transform: translateX(0);
  transition: transform 0.15s ease-out;
}

// .siema {
//   overflow: hidden;
//   padding-right: 15%;
//   box-sizing: border-box;
// }

// .siema > div {
//   display: flex;
// }

// .siema > div > div {
//   width: 200px !important;
//   margin-right: 30px;
//   flex-shrink: 0;
// }

// .siema li {
//   list-style: none;

//   img {
//     width: 100%;
//     display: block;
//   }
// }
