.header {
  padding-top: 30px;
  position: relative;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    gap: 30px;
  }
}
.btn-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: transform 250ms var(--timing-fun);
  &:hover,
  &:focus {
    transform: scale(1.1);
    cursor: pointer;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile-menu-btn__icon {
  fill: $white;
}
.container_mobile {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85));
    padding-top: 30px;
  }
  @media screen and (max-width: 1439px) and (min-width: 768px) {
    order: 1;
    flex-basis: 100%;
  }
  @media screen and (min-width: 1440px) {
  }
}

.container_mobile.is-open {
  display: block;
  backdrop-filter: blur(3px);
  & ~ .btn-menu {
    display: none;
  }
}
.menu-container__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile-menu-btn-close {
  @extend .btn-menu;
}
