.subscriptions {
  background-color: $white;
  color: black;
}
.subscriptions__table-scroll {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  @media screen and (min-width: 1440px) {
    overflow: visible;
  }
}
.subscriptions__simple-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 700px; // важно! иначе нечего скроллить

  th,
  td {
    padding: 12px;
    background: #fff;
  }

  th {
    font-weight: 600;
    text-align: left;
  }

  // 👇 фиксируем первый столбец
  th:first-child,
  td:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
    background: #fff;
    box-shadow: 2px 0 0 rgba(0, 0, 0, 0.05);
  }

  // 👇 чтобы заголовок был выше остальных
  thead th {
    z-index: 3;
  }
}
